.box {
    transition: .3s;
    border: 2px solid var(--color-text-second);
    border-radius: 6px;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 12.75L8.25 19L22 4' stroke='%23204289' stroke-opacity='0' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
    input[type='checkbox'] {
        display: none;
    }
    @media (any-hover: hover) {
        &:hover {
            border-color: var(--color-logo);
        }
    }
    &.checked {
        border-color: var(--color-logo);
        background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 12.75L8.25 19L22 4' stroke='%23204289' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
    }
}