.wrapper {
    padding-bottom: 60px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @media (max-width: 800px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.loader {
    margin: auto;
}

.plug {
    font-size: 46px;
    color: var(--color-text-second);
    font-weight: 600;
    line-height: 52px;
    text-align: center;
    @media (max-width: 800px) {
        font-size: 36px;
        line-height: 40px;
    }
    @media (max-width: 600px) {
        font-size: 32px;
        line-height: 36px;
    }
}