button, a {
    all: unset;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background-color: var(--bg-color-main);
    color: var(--color-text-main);
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--bg-color-second);
        border-radius: 20px;
    }
}

html, body {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.disable-scroll {
    overflow: hidden !important;
}